.vs
obj
Samples/Packages
Sources/Packages
Samples/BusinessLogic/bin
Samples/SampleApplication/bin
Samples/Service1/bin
Samples/Service2/bin
Sources/Domenici.Utilities.DependencyInjection.Tests/bin
Sources/Domenici.Utilities.DependencyInjection/bin
Samples/BusinessLogic/BusinessLogic.csproj.user
Samples/SampleApplication/SampleApplication.csproj.user
