Samples/.vs/SampleApplication/v14/.suo
Samples/BusinessLogic/BusinessLogic.csproj.user
obj
Samples/Packages
Sources/Packages
Samples/BusinessLogic/bin/BusinessLogic.dll
Samples/BusinessLogic/bin/BusinessLogic.domenici.settings.dll
Samples/BusinessLogic/bin/BusinessLogic.pdb
Samples/BusinessLogic/bin/Domenici.Utilities.DependencyInjection.dll
Samples/BusinessLogic/bin/Domenici.Utilities.DependencyInjection.pdb
Samples/BusinessLogic/bin/Newtonsoft.Json.dll
Samples/BusinessLogic/bin/Newtonsoft.Json.xml
Samples/SampleApplication/.vs/SampleApplication/v14/.suo
Samples/SampleApplication/SampleApplication.csproj.user
Samples/SampleApplication/bin/BusinessLogic.dll
Samples/SampleApplication/bin/BusinessLogic.pdb
Samples/SampleApplication/bin/Domenici.Utilities.Configuration.dll
Samples/SampleApplication/bin/Domenici.Utilities.DependencyInjection.dll
Samples/SampleApplication/bin/Domenici.Utilities.DependencyInjection.pdb
Samples/SampleApplication/bin/Newtonsoft.Json.dll
Samples/SampleApplication/bin/Newtonsoft.Json.xml
Samples/SampleApplication/bin/SampleApplication.domenici.settings.dll
Samples/SampleApplication/bin/SampleApplication.exe
Samples/SampleApplication/bin/SampleApplication.exe.config
Samples/SampleApplication/bin/SampleApplication.pdb
Samples/SampleApplication/bin/SampleApplication.vshost.exe
Samples/SampleApplication/bin/SampleApplication.vshost.exe.config
Samples/SampleApplication/bin/SampleApplication.vshost.exe.manifest
Samples/SampleApplication/bin/SampleDependency.dll
Samples/SampleApplication/bin/SampleDependency.domenici.settings.dll
Samples/SampleApplication/bin/SampleDependency.pdb
Samples/SampleApplication/bin/Service1/BusinessLogic.dll
Samples/SampleApplication/bin/Service1/BusinessLogic.domenici.settings.dll
Samples/SampleApplication/bin/Service1/Domenici.Utilities.DependencyInjection.dll
Samples/SampleApplication/bin/Service1/Newtonsoft.Json.dll
Samples/SampleApplication/bin/Service1/Service1.dll
Samples/SampleApplication/bin/Service2/BusinessLogic.dll
Samples/SampleApplication/bin/Service2/BusinessLogic.domenici.settings.dll
Samples/SampleApplication/bin/Service2/Domenici.Utilities.DependencyInjection.dll
Samples/SampleApplication/bin/Service2/Newtonsoft.Json.dll
Samples/SampleApplication/bin/Service2/Service2.dll
Samples/SampleApplication/bin/System.Net.Http.dll
Samples/SampleApplication/bin/System.Net.Http.xml
Samples/Service1/bin/BusinessLogic.dll
Samples/Service1/bin/BusinessLogic.pdb
Samples/Service1/bin/Domenici.Utilities.DependencyInjection.dll
Samples/Service1/bin/Domenici.Utilities.DependencyInjection.pdb
Samples/Service1/bin/Newtonsoft.Json.dll
Samples/Service1/bin/Newtonsoft.Json.xml
Samples/Service1/bin/Service1.dll
Samples/Service1/bin/Service1.pdb
Samples/Service2/bin/BusinessLogic.dll
Samples/Service2/bin/BusinessLogic.pdb
Samples/Service2/bin/Domenici.Utilities.DependencyInjection.dll
Samples/Service2/bin/Domenici.Utilities.DependencyInjection.pdb
Samples/Service2/bin/Newtonsoft.Json.dll
Samples/Service2/bin/Newtonsoft.Json.xml
Samples/Service2/bin/Service2.dll
Samples/Service2/bin/Service2.pdb
Sources/.vs/Domenici.Utilities.Configuration/v14/.suo
Sources/.vs/Domenici.Utilities.DependencyInjection/v14/.suo
Sources/.vs/config/applicationhost.config
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Configuration/2c2p.appsettings
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Configuration/default.2c2p.appsettings
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Domenici.Settings/default.domenici.appsettings
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Domenici.Utilities.Tests.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Domenici.Utilities.Tests.dll.config
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Domenici.Utilities.Tests.pdb
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Domenici.Utilities.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Domenici.Utilities.pdb
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/EnvDTE.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/EnvDTE.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/ICSharpCode.SharpZipLib.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.MSXML.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.ComponentModelHost.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.CoreUtility.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.CoreUtility.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.GraphModel.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.ImageCatalog.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.ImageCatalog.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Imaging.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Imaging.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.OLE.Interop.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.OLE.Interop.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.ProjectAggregator.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.ProjectAggregator.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.14.0.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.14.0.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Immutable.10.0.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Immutable.10.0.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Immutable.11.0.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Immutable.11.0.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Immutable.12.0.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Immutable.12.0.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Immutable.14.0.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Immutable.14.0.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Interop.8.0.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Interop.8.0.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Interop.9.0.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Interop.9.0.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Interop.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Shell.Interop.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.TextManager.Interop.8.0.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.TextManager.Interop.8.0.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.TextManager.Interop.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.TextManager.Interop.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Threading.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Threading.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Utilities.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.Utilities.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Microsoft.VisualStudio.VSHelp.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Newtonsoft.Json.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/Newtonsoft.Json.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/config.json
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/log4net.dll
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/log4net.xml
Sources/Domenici.Utilities.DependencyInjection.Tests/bin/stdole.dll
Sources/Domenici.Utilities.DependencyInjection/bin/Domenici.Utilities.DependencyInjection.dll
Sources/Domenici.Utilities.DependencyInjection/bin/Domenici.Utilities.DependencyInjection.pdb
Sources/Domenici.Utilities.DependencyInjection/bin/Newtonsoft.Json.dll
Sources/Domenici.Utilities.DependencyInjection/bin/Newtonsoft.Json.xml
